<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
      <div class="container">
        <a class="navbar-brand" href="index.html">Trim.</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active"><a href="index.html" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
            <li class="nav-item"><a href="services.html" class="nav-link">Services &amp; Pricing</a></li>
            <li class="nav-item"><a href="gallery.html" class="nav-link">Gallery</a></li>
            <li class="nav-item"><a href="blog.html" class="nav-§link">Blog</a></li>
            <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- END nav -->
    
    <div class="hero-wrap" style="background-image: url('images/bg_2.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" data-scrollax-parent="true">
          <div class="col-md-6 ftco-animate">
            <h1 class="mb-5">Knippen zonder afspraak in Ter Aar</h1>
          </div>
        </div>
      </div>
    </div>
    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center mb-4">
          <div class="col-md-7 heading-section ftco-animate text-center">
            <h2 class="mb-4">Welkom bij de kapsalon van <span>Dennis</span></h2>
            <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-8 text-center ftco-animate">
            <p>Het zit er al vroeg in, na opa Hannes Verboom en vader Jaap blijkt ook Dennis op jonge leeftijd geknipt voor het kappersvak. Als Jaap Verboom 63 jaar geworden is houdt hij het kappersvak voor gezien, hangt hij zijn schaar aan de wilgen en neemt zijn zoon Dennis het roer over. In hetzelfde pand, aan de Kerkweg in Ter Aar, waar Opa Hannes Verboom het kappersvak ooit begon opent kleinzoon Dennis op 1 mei 1996 zijn eigen herenkapsalon. Een familietraditie die garant staat voor drie generaties knipervaring.</p>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section ftco-bg-dark">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section ftco-animate text-center">
            <h2 class="mb-4">Onze Service</h2>
            <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 ftco-animate">
            <div class="media d-block text-center block-6 services">
              <div class="icon d-flex justify-content-center align-items-center mb-4">
                <span class="flaticon-scissor-and-comb"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">Tondeuse</h3>
              </div>
            </div>      
          </div>
          <div class="col-md-3 ftco-animate">
            <div class="media d-block text-center block-6 services">
              <div class="icon d-flex justify-content-center align-items-center mb-4">
                <span class="flaticon-male-head-hair-and-beard"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">Knipbeurt</h3>
              </div>
            </div>      
          </div>
          <div class="col-md-3 ftco-animate">
            <div class="media d-block text-center block-6 services">
              <div class="icon d-flex justify-content-center align-items-center mb-4"><span class="flaticon-heads-hairs-and-scissors"></span></div>
              <div class="media-body">
                <h3 class="heading">Baard behandeling</h3>
              </div>
            </div>    
          </div>
          <div class="col-md-3 ftco-animate">
            <div class="media d-block text-center block-6 services">
              <div class="icon d-flex justify-content-center align-items-center mb-4"><span class="flaticon-young-male-short-irregular-hair-on-head-and-a-small-beard"></span></div>
              <div class="media-body">
                <h3 class="heading">Haar wassen</h3>
                <!-- <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p> -->
              </div>
            </div>    
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-3 mt-5 pt-5">
          <div class="col-md-7 heading-section text-center ftco-animate">
            <h2 class="mb-4">Prijzen</h2>
            <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
            <p class="mt-5">Voor kinderen, studenten en 65+ gelden aangepaste prijzen, alle prijzen zijn hieronder te vinden.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="pricing-entry ftco-animate">
              <div class="d-flex text align-items-center">
                <h3><span>Heren tondeuse</span></h3>
                <span class="price">€10.00</span>
              </div>
            </div>
            <div class="pricing-entry ftco-animate">
              <div class="d-flex text align-items-center">
                <h3><span>Heren knippen</span></h3>
                <span class="price">€19.00</span>
              </div>
            </div>
            <div class="pricing-entry ftco-animate">
              <div class="d-flex text align-items-center">
                <h3><span>Heren knippen &amp; baard</span></h3>
                <span class="price">€21.00</span>
              </div>
            </div>
            <div class="pricing-entry ftco-animate">
              <div class="d-flex text align-items-center">
                <h3><span>Heren knippen &amp; wassen</span></h3>
                <span class="price">€21.00</span>
              </div>
            </div>
            <div class="pricing-entry ftco-animate">
              <div class="d-flex text align-items-center">
                <h3><span>Heren knippen &amp; wassen &amp; Föhnen</span></h3>
                <span class="price">€23.00</span>
              </div>
            </div>
            <div class="pricing-entry ftco-animate">
              <div class="d-flex text align-items-center">
                <h3><span>Student knippen</span></h3>
                <span class="price">€17.00</span>
              </div>
              <!-- <div class="d-block">
                <p>A small river named Duden flows by their place and supplies</p>
              </div> -->
            </div>
          </div>

          <div class="col-md-6">
            <div class="pricing-entry ftco-animate">
              <div class="d-flex text align-items-center">
                <h3><span>Heren tondeuse</span></h3>
                <span class="price">€10.00</span>
              </div>
            </div>
            <div class="pricing-entry ftco-animate">
              <div class="d-flex text align-items-center">
                <h3><span>Heren knippen</span></h3>
                <span class="price">€19.00</span>
              </div>
            </div>
            <div class="pricing-entry ftco-animate">
              <div class="d-flex text align-items-center">
                <h3><span>Heren knippen &amp; baard</span></h3>
                <span class="price">€21.00</span>
              </div>
            </div>
            <div class="pricing-entry ftco-animate">
              <div class="d-flex text align-items-center">
                <h3><span>Heren knippen &amp; wassen</span></h3>
                <span class="price">€21.00</span>
              </div>
            </div>
            <div class="pricing-entry ftco-animate">
              <div class="d-flex text align-items-center">
                <h3><span>Heren knippen &amp; wassen &amp; Föhnen</span></h3>
                <span class="price">€23.00</span>
              </div>
            </div>
            <div class="pricing-entry ftco-animate">
              <div class="d-flex text align-items-center">
                <h3><span>Student knippen</span></h3>
                <span class="price">€17.00</span>
              </div>
              <!-- <div class="d-block">
                <p>A small river named Duden flows by their place and supplies</p>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section ftco-animate text-center">
            <h2 class="mb-4">Our Hair Stylist</h2>
            <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
            <p class="mt-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 d-flex mb-sm-4 ftco-animate">
            <div class="staff">
              <div class="img mb-4" style="background-image: url(images/person_1.jpg);"></div>
              <div class="info text-center">
                <h3><a href="teacher-single.html">Tom Smith</a></h3>
                <span class="position">Hair Specialist</span>
                <div class="text">
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 d-flex mb-sm-4 ftco-animate">
            <div class="staff">
              <div class="img mb-4" style="background-image: url(images/person_2.jpg);"></div>
              <div class="info text-center">
                <h3><a href="teacher-single.html">Mark Wilson</a></h3>
                <span class="position">Beard Specialist</span>
                <div class="text">
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 d-flex mb-sm-4 ftco-animate">
            <div class="staff">
              <div class="img mb-4" style="background-image: url(images/person_3.jpg);"></div>
              <div class="info text-center">
                <h3><a href="teacher-single.html">Patrick Jacobson</a></h3>
                <span class="position">Hair Stylist</span>
                <div class="text">
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 d-flex mb-sm-4 ftco-animate">
            <div class="staff">
              <div class="img mb-4" style="background-image: url(images/person_4.jpg);"></div>
              <div class="info text-center">
                <h3><a href="teacher-single.html">Ivan Dorchsner</a></h3>
                <span class="position">Beard Specialist</span>
                <div class="text">
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->

<!--     <section class="ftco-gallery">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section ftco-animate text-center">
            <h2 class="mb-4">Our Gallery</h2>
            <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
            <p class="mt-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          </div>
        </div>
      </div>
      <div class="container-wrap">
        <div class="row no-gutters">
          <div class="col-md-3 ftco-animate">
            <a href="gallery.html" class="gallery img d-flex align-items-center" style="background-image: url(images/gallery-1.jpg);">
              <div class="icon mb-4 d-flex align-items-center justify-content-center">
                <span class="icon-search"></span>
              </div>
            </a>
          </div>
          <div class="col-md-3 ftco-animate">
            <a href="gallery.html" class="gallery img d-flex align-items-center" style="background-image: url(images/gallery-2.jpg);">
              <div class="icon mb-4 d-flex align-items-center justify-content-center">
                <span class="icon-search"></span>
              </div>
            </a>
          </div>
          <div class="col-md-3 ftco-animate">
            <a href="gallery.html" class="gallery img d-flex align-items-center" style="background-image: url(images/gallery-3.jpg);">
              <div class="icon mb-4 d-flex align-items-center justify-content-center">
                <span class="icon-search"></span>
              </div>
            </a>
          </div>
          <div class="col-md-3 ftco-animate">
            <a href="gallery.html" class="gallery img d-flex align-items-center" style="background-image: url(images/gallery-4.jpg);">
              <div class="icon mb-4 d-flex align-items-center justify-content-center">
                <span class="icon-search"></span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
 -->

   <!--  <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section ftco-animate text-center">
            <h2 class="mb-4">Recent from blog</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          </div>
        </div>
        <div class="row d-flex">
          <div class="col-md-4 d-flex ftco-animate">
            <div class="blog-entry align-self-stretch">
              <a href="blog-single.html" class="block-20" style="background-image: url('images/image_1.jpg');">
              </a>
              <div class="text py-4 d-block">
                <div class="meta">
                  <div><a href="#">Sept 10, 2018</a></div>
                  <div><a href="#">Admin</a></div>
                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                </div>
                <h3 class="heading mt-2"><a href="#">Men's hairstyle for all face shapes</a></h3>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 d-flex ftco-animate">
            <div class="blog-entry align-self-stretch">
              <a href="blog-single.html" class="block-20" style="background-image: url('images/image_2.jpg');">
              </a>
              <div class="text py-4 d-block">
                <div class="meta">
                  <div><a href="#">Sept 10, 2018</a></div>
                  <div><a href="#">Admin</a></div>
                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                </div>
                <h3 class="heading mt-2"><a href="#">Men's hairstyle for all face shapes</a></h3>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 d-flex ftco-animate">
            <div class="blog-entry align-self-stretch">
              <a href="blog-single.html" class="block-20" style="background-image: url('images/image_3.jpg');">
              </a>
              <div class="text py-4 d-block">
                <div class="meta">
                  <div><a href="#">Sept 10, 2018</a></div>
                  <div><a href="#">Admin</a></div>
                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                </div>
                <h3 class="heading mt-2"><a href="#">Men's hairstyle for all face shapes</a></h3>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
 -->
    
    <section class="ftco-appointment">
      <div class="overlay"></div>
      <div class="container-wrap">
        <div class="row no-gutters d-md-flex align-items-center">
          <div class="col-md-6 d-flex align-self-stretch">
            <div id="map"></div>
          </div>
          <div class="col-md-6 appointment ftco-animate">
            <h3 class="mb-3">Appointments</h3>
            <form action="#" class="appointment-form">
              <div class="d-md-flex">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="First Name">
                </div>
                <div class="form-group ml-md-4">
                  <input type="text" class="form-control" placeholder="Last Name">
                </div>
              </div>
              <div class="d-md-flex">
                <div class="form-group">
                  <div class="input-wrap">
                    <div class="icon"><span class="ion-md-calendar"></span></div>
                    <input type="text" id="appointment_date" class="form-control" placeholder="Date">
                  </div>
                </div>
                <div class="form-group ml-md-4">
                  <div class="input-wrap">
                    <div class="icon"><span class="ion-ios-clock"></span></div>
                    <input type="text" id="appointment_time" class="form-control" placeholder="Time">
                  </div>
                </div>
                <div class="form-group ml-md-4">
                  <input type="text" class="form-control" placeholder="Phone">
                </div>
              </div>
              <div class="form-group">
                <textarea name="" id="" cols="30" rows="3" class="form-control" placeholder="Message"></textarea>
              </div>
              <div class="form-group">
                <input type="submit" value="Appointment" class="btn btn-primary py-3 px-4">
              </div>
            </form>
          </div>          
        </div>
      </div>
    </section>

    <footer class="ftco-footer ftco-section img">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">

            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
        </div>
      </div>
    </footer>

<%= link_to(
  "Read Documentation",
  "https://middlemanapp.com/basics/templating_language/",
  target: "_blank"
) %>



