  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
      <div class="container">
        <a class="navbar-brand" href="index.html">dennis Verboom</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active"><a href="#home" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="#about" class="nav-link">Intro</a></li>
            <li class="nav-item"><a href="#services" class="nav-link">Services</a></li>
            <li class="nav-item"><a href="#pricing" class="nav-link">Prijzen</a></li>
            <li class="nav-item"><a href="#openingstijden" class="nav-link">Openingstijden</a></li>
            <li class="nav-item"><a href="#adres" class="nav-link">Adres</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- END nav -->
    
    <div class="hero-wrap" style="background-image: url('images/bg_2.jpg');" data-stellar-background-ratio="0.5" id="home">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" data-scrollax-parent="true">
          <div class="col-md-6 ftco-animate">
            <h1 class="mb-5">Knippen zonder afspraak in Ter Aar, afspraak niet mogelijk</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section ftco-bg-dark" id="news">
      <div class="container">
        <div class="row justify-content-center mb-4">
          <div class="col-md-7 heading-section ftco-animate text-center">
            <h2 class="mb-4">News</h2>
            <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-8 text-center ftco-animate">
            <p>De kogel is door de kerk, de kapsalon gaat opgeknapt worden. Dit heeft tot gevolg dat de zaak van 11 tot en met 24 november gesloten is. Dinsdag 26 november zal de zaak weer geopend zijn.</p>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="hero-wrap" style="background-image: url('images/family.jpg'); height:40vw; min-height:0;" id="family">
        <div class="overlay"></div>
      </div>
    </section>

    <section class="ftco-section" id="about">
      <div class="container">
        <div class="row justify-content-center mb-4">
          <div class="col-md-7 heading-section ftco-animate text-center">
            <h2 class="mb-4">Welkom bij de kapsalon van <span>dennis</span></h2>
            <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-8 text-center ftco-animate">
            <p>Opa Hannes Verboom opent de kapsalon in 1918. Na Hannes en vader Jaap blijkt ook Dennis op jonge leeftijd geknipt voor het kappersvak. Als Jaap Verboom 63 jaar geworden is houdt hij het kappersvak voor gezien, hangt hij zijn schaar aan de wilgen en neemt zijn zoon Dennis het roer over. In hetzelfde pand, aan de Kerkweg in Ter Aar, waar Opa Hannes Verboom het kappersvak ooit begon opent kleinzoon Dennis op 1 mei 1996 zijn eigen herenkapsalon. Een familietraditie die garant staat voor drie generaties knipervaring!</p>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section ftco-bg-dark" id="services">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section ftco-animate text-center">
            <h2 class="mb-4">Onze Service</h2>
            <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 ftco-animate">
            <div class="media d-block text-center block-6 services">
              <div class="icon d-flex justify-content-center align-items-center mb-4">
                <span class="flaticon-scissor-and-comb"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">Tondeuse</h3>
              </div>
            </div>      
          </div>
          <div class="col-md-3 ftco-animate">
            <div class="media d-block text-center block-6 services">
              <div class="icon d-flex justify-content-center align-items-center mb-4">
                <span class="flaticon-scissor-and-comb"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">Knipbeurt</h3>
              </div>
            </div>      
          </div>
          <div class="col-md-3 ftco-animate">
            <div class="media d-block text-center block-6 services">
              <div class="icon d-flex justify-content-center align-items-center mb-4"><span class="flaticon-razor-hair-salon-tool"></span></div>
              <div class="media-body">
                <h3 class="heading">Baard behandeling</h3>
              </div>
            </div>    
          </div>
          <div class="col-md-3 ftco-animate">
            <div class="media d-block text-center block-6 services">
              <div class="icon d-flex justify-content-center align-items-center mb-4"><span class="flaticon-young-male-short-irregular-hair-on-head-and-a-small-beard"></span></div>
              <div class="media-body">
                <h3 class="heading">Haar wassen</h3>
                <!-- <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p> -->
              </div>
            </div>    
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="hero-wrap" style="background-image: url('images/image_6.jpg'); height:40vw; min-height:0;" id="image">
        <div class="overlay"></div>
      </div>
    </section>

    <section class="ftco-section" id="pricing">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section text-center ftco-animate">
            <h2 class="mb-4">Prijzen</h2>
            <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
            <p class="mt-5">Voor kinderen, studenten en 65+ gelden aangepaste prijzen, alle prijzen zijn hieronder te vinden. Vrijdag avond en zaterdag zijn de kortingen niet van toepassing.</p>
            <p>Pinnen is mogelijk!</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="pricing-entry ftco-animate">
              <div class="d-flex text align-items-center">
                <h3><span>Heren tondeuse</span></h3>
                <span class="price">€11.00</span>
              </div>
            </div>
            <div class="pricing-entry ftco-animate">
              <div class="d-flex text align-items-center">
                <h3><span>Heren knippen</span></h3>
                <span class="price">€20.00</span>
              </div>
            </div>
            <div class="pricing-entry ftco-animate">
              <div class="d-flex text align-items-center">
                <h3><span>Heren knippen &amp; baard</span></h3>
                <span class="price">€22.00</span>
              </div>
            </div>
            <div class="pricing-entry ftco-animate">
              <div class="d-flex text align-items-center">
                <h3><span>Heren knippen &amp; wassen</span></h3>
                <span class="price">€22.00</span>
              </div>
            </div>
            <div class="pricing-entry ftco-animate">
              <div class="d-flex text align-items-center">
                <h3><span>Heren knippen &amp; wassen &amp; Föhnen</span></h3>
                <span class="price">€24.00</span>
              </div>
            </div>
            <div class="pricing-entry ftco-animate">
              <div class="d-flex text align-items-center">
                <h3><span>Student knippen</span></h3>
                <span class="price">€17.50</span>
              </div>
              <!-- <div class="d-block">
                <p>A small river named Duden flows by their place and supplies</p>
              </div> -->
            </div>
          </div>

          <div class="col-md-6">
            <div class="pricing-entry ftco-animate">
              <div class="d-flex text align-items-center">
                <h3><span>Knippen t/m 5 jaar</span></h3>
                <span class="price">€11.00</span>
              </div>
            </div>
            <div class="pricing-entry ftco-animate">
              <div class="d-flex text align-items-center">
                <h3><span>knippen 6 t/m 12 jaar</span></h3>
                <span class="price">€16.00</span>
              </div>
            </div>
            <div class="pricing-entry ftco-animate">
              <div class="d-flex text align-items-center">
                <h3><span>Heren knippen 65+</span></h3>
                <span class="price">€18.00</span>
              </div>
            </div>
            <div class="pricing-entry ftco-animate">
              <div class="d-flex text align-items-center">
                <h3><span>Heren knippen &amp; baard 65+	</span></h3>
                <span class="price">€20.00</span>
              </div>
            </div>
            <div class="pricing-entry ftco-animate">
              <div class="d-flex text align-items-center">
                <h3><span>Heren knippen &amp; wassen 65+</span></h3>
                <span class="price">€20.00</span>
              </div>
            </div>
            <div class="pricing-entry ftco-animate">
              <div class="d-flex text align-items-center">
                <h3><span>Heren knippen &amp; wassen &amp; Föhnen 65+</span></h3>
                <span class="price">€22.00</span>
              </div>
              <!-- <div class="d-block">
                <p>A small river named Duden flows by their place and supplies</p>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </section>

     <section class="ftco-section ftco-bg-dark" id="openingstijden">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section text-center ftco-animate">
            <h2 class="mb-4">Openingstijden &amp; Adres</h2>
            <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>

          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="times-entry ftco-animate">
              <div class="d-flex text">
                <h3>Maandag</h3>
                <div class="time">Gesloten</div>
              </div>
            </div>
            <div class="times-entry ftco-animate">
              <div class="d-flex text">
                <h3>Dinsdag</h3>
                <div class="time">8:30-12:30 13:30-18:00</div>
              </div>
            </div>
            <div class="times-entry ftco-animate">
              <div class="d-flex text">
                <h3>Woensdag</h3>
                <div class="time">8:30-12:30 13:30-18:00</div>
              </div>
            </div>
            <div class="times-entry ftco-animate">
              <div class="d-flex text">
                <h3>Donderdag</h3>
                <div class="time">8:30-12:30 13:30-18:00</div>
              </div>
            </div>
            <div class="times-entry ftco-animate">
              <div class="d-flex text">
                <h3>Vrijdag</h3>
                <div class="time">8:30-12:30 13:30-21:00</div>
              </div>
            </div>
            <div class="times-entry ftco-animate">
              <div class="d-flex text">
                <h3>Zaterdag</h3>
                <div class="time">8:00-14:00</div>
              </div>
            </div>
          </div>

          <div class="col-md-6" id="adres">
            <div class="times-entry ftco-animate">
              <div class="d-flex text">
                <h3>Adres</h3>
                <div class="time">Kerkweg 29</div>
              </div>
            </div>
            <div class="times-entry ftco-animate">
              <div class="d-flex text">
                <h3>Postcode &amp; plaats</h3>
                <div class="time">2461 GB Ter Aar</div>
              </div>
            </div>
            <div class="times-entry ftco-animate">
              <div class="d-flex text">
                <h3>Telefoon nummer</h3>
                <div class="time">0172 602 266</div>
              </div>
            </div>
            <div class="times-entry ftco-animate">
              <div class="d-flex text">
                <h3>Email adres</h3>
                <div class="time">info@dennisverboom.nl</div>
              </div>
            </div>
              <!-- <div class="d-block">
                <p>A small river named Duden flows by their place and supplies</p>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </section>
<!--     <section class="ftco-appointment">
      <div class="overlay"></div>
      <div class="container-wrap">
        <div class="row no-gutters d-md-flex align-items-center">
          <div class="col-md-12 d-flex align-self-stretch">
            <div id="map"></div>
          </div>
        </div>
      </div>
    </section> -->

    <section>
      <div class="hero-wrap" style="background-image: url('images/maps.jpg'); height:40vw; min-height:0;" id="maps">
        <div class="overlay"></div>
      </div>
    </section>

    <footer class="ftco-footer ftco-section img">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">

            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
        </div>
      </div>
    </footer>

